<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".KharchaApplication"
        android:allowBackup="true"
        android:label="Kharcha"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
    </application>

</manifest>
